@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: antiquewhite;
}

.container {
    padding: 12px;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    background-color: white;
    overflow-y: scroll;
}

.container::-webkit-scrollbar {
    display: none;
}

.container form {
    width: auto;
    border: 1px solid;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px;
}

.container form input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    padding: 4px;
    margin-left: 8px;
}

.product-list {
    padding: 20px 0;
}

.product {
    margin: 12px 0;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.product img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.detail {
    padding-left: 16px;
}

.detail h1 {
    font-size: 18px;
    font-weight: 700;
}

.detail h3 {
    font-size: 16px;
    font-weight: 500;
}